<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <img class="mx-auto mb-3" src="/assets/nagano-about.jpg" alt="about">
    </div>
    <div class="col-lg-7">
      <h2 class="about mt-5 mb-4">Information</h2>
      <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
      <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
      <p>様々なバリエーションをご用意しております。</p>
      <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
      <p>送料は1配送につき全国一律800円になります。</p>
      <p>お支払い方法はクレジットカード、銀行振込から選択いただけます。</p>
      <p>ぜひご注文ください。</p>
        <div>
        <img src="/assets/nagano_about1.png" class="d-block mx-auto">
      </div>
    </div>
  </div>
</div>

