<div class="container">
  <div class="row">
    <div class="col-lg-2">
      ジャンル検索
    </div>
      <div class="card col-lg-10" style="max-width: 100%;">
        <img class="card-img" src="/assets/main-visual-image.jpg" alt="メインビジュアル">
        <p>ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-lg-8">
    新着商品
    </div>
  </div>