<div class="container">
  <div class="row">
    <div class="col-xs-10">]
      <h2><i class="far fa-shopping-cart"></i>ショッピングカート</h2>
    </div>
    <div class="col-xs-2">
      <div>
        <%= link_to public_cart_items_destoroy_all_path(@cart_item),class: 'nav-link text-dark' do =%>
        <i class="fas fa-cart-arrow-down"></i> カートを空にする
      </div>
    </div>
  </div>
  <div class="row">
    <h4><%= notice %></h4>
      <table class="table-bordered">
        <tr>
          <th id="item-name">商品名</th>
          <th style="width:180px;">単価(税込)</th>
          <th style="width:180px;">数量</th>
          <th style="width:180px;">小計</th>
          <th style="width:180px;"></th>
        </tr>
        
        < @cart_items.each do |cart_item| %>
        <tr>
          <td>
            
          </td>
        </tr>
      </table>
  </div>
</div>
    
  </div>
</div>
