<footer class="bg-dark">
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p class="text-light"><i class="fab fa-instagram-square"></i>instagram.com/nagano_cake</p>
    	</div>
    </div>
  </div>
</footer>
